
$primary-color: #406AFF;
$secondary-color: #9399A6;
$success-color: #28a745;
$danger-color: #dc3545;
$info-color: #ECF1FF;
$warning-color: #ffc107;
$light-color: #f8f9fa;
$dark-color: #000000;
$grass-color: #85CD2A;
$font-family : 'manrope';
$font-family-bold : 'manrope-bold'