@import './Color.scss';

.signup-container {
    margin: 12em 0 5em 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    padding: 0 20em 0 20em;
}

.signup-h1 {
    font-family: $font-family-bold;
}

.signup-p {
    color: $secondary-color;
    font-family: $font-family;
}

.signup-formlabel {
    font-family: $font-family;
}

.signup-password-div {
    display: flex;
    align-items: center;
}


// Input Field Css
.signup-container .form-control {
    padding: 1rem 0.75rem !important;
    border-radius: 0.6rem !important;
}

.signup-container .form-control:focus {
    box-shadow: none !important;
    border-color: none !important;
    border: 2px solid $primary-color;
  }

  // button css 
  .signup-container .btn {
    --bs-btn-padding-y: 0.85rem !important;
    border-radius: 0.6rem !important;
    font-family: 'Manrope';
  }

  // icon css 
  .signup-container svg {
    vertical-align: middle;
    margin-left: -2em !important;
}

.signup-termsconditions {
    color: $primary-color;
    cursor: pointer;
    font-family: $font-family;
}

.signup-tc-div {
    display: flex;
    
}

.signup-form-label {
    color: $secondary-color;
}

.signup-form-label-div {
    display: flex;
    flex-direction: column;
}

.signup-sign-btn{
    background: $info-color;
    color: $primary-color;
}

.signup-sign-btn:hover {
    background: #ECF1FF !important;
    color: #406AFF !important;
}

.signup-or {
    text-align: center;
    color: $secondary-color;
    font-family: $font-family;
}